@import url(http://fonts.googleapis.com/css?family=Questrial);

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
    width: 100vw;
    height: 100vh;
  }
  
  .logo {
    
    height: 100px;
    margin: 3% 10%;
    box-shadow: 10px 10px 5px grey;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: 'Questrial', Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;
  }
  
  .has-border {
    border-radius: 25px;
    border: 4px solid #3EB3AD;
    background: #FFA373;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  
  #profile-pic {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:#3EB3AD;
    grid-column: 2/3;
    margin: 3% auto;
    font-size: 40px;
    font-family: 'Questrial', Helvetica, sans-serif;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-family: 'Questrial', Helvetica, sans-serif;
    
  }
  
  .small-text {
    grid-column: 2/3;
    color: #000000;
    font-size: 10px;
    margin: 3% auto;
    text-align: center;
  }
  
  button {
    color: azure;
    font-size: 25px;
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: 'Questrial', Helvetica, sans-serif;
    
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    border-radius: 25px;
    border: 4px solid #3EB3AD;
    background: #FFA373;
    letter-spacing: 2px;
    
  }

  .center-footer {
text-align: center;
font-size: 12px;

  }