@import url("https://fonts.googleapis.com/css?family=Righteous");

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1em;
	grid-auto-rows: 400px;
}

.container > div {
	background-color: #839e9d;
}

body {
	/*-color: coral; */
	background-image: url("Dashboardbg.jpg");
}

header {
	display: grid;
	border: 3px solid #ffffff;
	font-weight: 200;
	background-color: rgb(27, 112, 84);
	padding-top: 40px;
	padding-bottom: 40px;
}

.Welcome {
	color: rgb(122, 19, 19);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "Righteous", cursive;
	text-align: center;
}

.caltop {
	background-color: white;
	height: 1em;
}

.nestedcalculator {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	border: 3px solid #020202;
	font-size: 35px;
}

footer {
	display: grid;
	grid-template-columns: 100%;
	text-align: center;
}

/* found the to do list code online, and played around with it replace with your own once you get better with java script to make it work. */

/* Remove margins and padding from the list */
ul {
	margin: 0;
	padding: 0;
}

/* Style the list items */
ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;

	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
	background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
	background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
	content: "";
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

/* Style the close button */
.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}

.close:hover {
	background-color: #f44336;
	color: white;
}

/* Clear floats after the header */
.header:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the input */
input {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
	padding: 10px;
	width: 25%;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
}

.addBtn:hover {
	background-color: #bbb;
}
